@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body{
    color: azure;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6dcfa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

footer {
    color: #3811a1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}

.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a{
    display: inline-block;
    background-color: #d64eb8;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    animation: palpitar 1.5s ease-in-out infinite;
    -webkit-animation: palpitar 1.5s ease-in-out infinite;
}

@keyframes palpitar {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@-webkit-keyframes palpitar { /* Para compatibilidad con Safari */
    0%, 100% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
}

.botones a:focus{
    background-color: rgb(50, 194, 194);
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:768px){
    .button a{
        font-size: 1.3rem;
    }
}